<app-navbar></app-navbar>

<div class="container-fluid">

  <!-- Highlight Card -->
  <div class="d-flex justify-content-center align-items-center p-5">
    <h1 class="title">Choose your NFT Collection</h1>
  </div>


  <div class="container px-4 black-background">
    <div class="d-flex w-100 justify-content-center">
      <mat-form-field class="nft-collection-autocomplete w-50" appearance="fill">
        <mat-label>Nft Collection</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Nft Collection"
               matInput
               [formControl]="selectedNftCollectionModel"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getNft()">
          <mat-option *ngFor="let nftCollection of nftCollectionModelsFiltered | async" [value]="nftCollection.name">
            {{nftCollection.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <div class="container" *ngIf="nftCollection">
    <div class="row d-flex justify-content-start">
      <div class="card col col-2" *ngFor="let nft of nftCollection.result" style="width: 18rem;">
        <img src="{{nft | nftFetchImage | async}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{nft.token_id}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
