.title {
    font-family: 'Righteous', serif;
    display: inline-block;
    color: #677dfd;
    font-size: 4em; 
    text-shadow: .03em .03em 0 rgb(168, 175, 240);
}

.nft-collection-autocomplete {
    border-radius: 1rem;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: #677dfd;
    }

    .mat-form-field-flex {
        border-radius: 2rem !important;
    }

    .mat-form-field-underline {
        width: calc(100% - 2rem);
        left: 1rem;
    }
    
    .mat-form-field-underline::before {
        background-color: rgba(103, 125, 253, 0.5);
        height: 3px !important;
    }
    .mat-form-field-ripple {
        background-color: #677dfd;
    }
}