<app-navbar></app-navbar>

<div class="container h-screen m-auto">
  <div class="flex justify-center align-middle">
    <div class="flex align-middle mt-4 sm:w-8/12 lg:w-6/12 h-16 relative rounded-lg">
      <div class="block w-full z-10">
        <input (click)="toggleCollection()" (blur)="toggleCollection()" type="text" [formControl]="selectedNftCollectionModel" placeholder="Nft Collection" id="price" class="shadow-sm outline-0 border-2 focus:border-indigo-600 block w-full h-3/4 pl-4 pr-12 sm:text-sm border-gray-500 rounded-full">
      </div>
      <div *ngIf="showCollection" class="absolute w-full h-auto block  top-1/2 left-0 bg-gray-100">
        <ul class="absolute z-10 mt-5 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
          <li (mousedown)="refreshSelectedModel(nftCollection.name)" *ngFor="let nftCollection of nftCollectionModelsFiltered | async" [value]="nftCollection.name" class="group text-gray-900 hover:text-white hover:bg-indigo-600 cursor-pointer select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
            <div class="flex items-center">
              <img src="{{nftCollection.image}}" alt="" class="flex-shrink-0 h-6 w-6 rounded-full">
              <span [ngClass]="nftCollection.name === selectedNftCollectionModel.value ? 'font-semibold' : 'font-normal'" class="ml-3 block truncate">{{nftCollection.name}}</span>
            </div>
    
            <span *ngIf="nftCollection.name === selectedNftCollectionModel.value" class=" group-hover:text-white text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container mx-auto mt-4 px-4" infiniteScroll [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <ul *ngIf="nftCollection" role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 justify-center">
      <li *ngFor="let nft of nftCollection.result" class="col-span-1 flex flex-col w-1/2 mx-auto sm:w-full text-center bg-white rounded-lg shadow divide-y divide-gray-400 border-2 border-indigo-600">
        <div class="flex-1 flex flex-col p-4">
          <img class="w-25 h-25 md:w-50 md:h-50 flex-shrink-0 mx-auto rounded-full" src="{{nft | nftFetchImage | async}}" alt="">
          <h3 class="mt-4 text-gray-900 text-md font-medium">#{{nft.token_id}}</h3>
        </div>
        <div>
          <div class="-mt-px">
            <div class="w-full flex-1 flex">
              <a href="mailto:janecooper@example.com" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                <svg class="w-5 h-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                </svg>
                <span class="ml-3">Email</span>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
